extends ../layout

block content
	h1 Página de Usuários
	br
	a(href="/" title="Home") Voltar
	hr
	br
	a(href="/user/create" title="Cadastrar", class="btn btn-success") Cadastrar
	br
	table(class="table")
		thead
			tr
				th ID:
				th Nome:
				th Login:
				th Senha:
				th Data:
				th Ações:
		tbody
			each valor,i in lista
				tr
					td #{valor._id}
					td #{valor.nome}
					td #{valor.login}
					td #{valor.senha}
					td #{valor.data_cad}
					td
						a(href="/user/edit/#{valor._id}", title="Editar", class="btn btn-info")
							span(class="glyphicon glyphicon-pencil")
						&nbsp
						a(href="/user/show/#{valor._id}", title="Visualizar", class="btn btn-primary")
							span(class="glyphicon glyphicon-search")
